.card {
	background: $color-white;
	box-shadow: $card-box-shadow;
	border-radius: $card-border-radius;
	padding: 12px;
	margin-bottom: 27px;
	&.popup {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		background: rgba($color-black, .4);
		box-shadow: 0;
		border-radius: 0;
		padding: 20px;
		margin: 0;
		z-index: 100000;
		> .card {
			flex: 1;
			max-width: 750px;
			max-height: 70vh;
			overflow-y: scroll;
			margin: auto;
		}
	}
}
