.headline1,
.headline2,
.headline3,
.headline4,
.headline5,
.headline6 {
	background: none;
	font-weight: normal;
	border: 0;
	padding: 0;
	margin: 0;
}

.headline1 {
	background: $color-gray;
	color: $color-dark-gray;
	padding: 12px;
}

.headline2 {
	color: $color-dark-gray;
	border-bottom: 1px $color-gray solid;
	padding: 2px;
	margin-bottom: 12px;
}
