<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>3s1m</title>
	<link rel="stylesheet" href="./../style.css">
	<style type="text/css">
		header {
			background: #f66;
		}
		footer {
			background: #66f;
		}
		.layout-main header {
			background: #f44;
		}
		.layout-main footer {
			background: #44f;
		}
		.layout-sub header {
			background: #f99;
		}
		.layout-sub footer {
			background: #99f;
		}
	</style>
</head>
<body>
	<div class="layout">
		<header class="layout-header">
			header
		</header>
		<div class="layout-content layout-content-calc-header layout-content-calc-footer">
			<div class="layout-column">
				<div class="layout-sub">
					<header class="layout-header">
						sub header
					</header>
					<div class="layout-content layout-content-calc-header layout-content-calc-footer layout-padding layout-scroll">
						sub content<br>
						<br>
						Star sign, Gemini<br>
						Brown eyes, fair hair in the light<br>
						We called time last night<br>
						And I can't stop thinkin' 'bout her<br>
						And her lips upon mine<br>
						So soft, feelings I don't know the name of<br>
						Under the clothes we take off<br>
						Used to be two hearts in love<br>
						<br>
						Oh, why, oh why am I alone?<br>
						Did I, did I do something wrong?<br>
						Am I the reason, or have you found someone else?<br>
						So tell me, girl<br>
						<br>
						How can I live without love?<br>
						How can I be what you want?<br>
						'Cause when the morning comes around<br>
						You're still gone and I'll say<br>
						How can I see through the dark?<br>
						<br>
						All I can do is wonder where you are<br>
						Are you happy in someone else's arms?<br>
						Well, that's the way to break my heart<br>
						<br>
						That's the way to break my heart<br>
						That's the way to break my heart<br>
						That's the way to break my heart<br>
						That's the way to break my<br>
						<br>
						<br>
						First love never dies<br>
						Guess I'll see you in another life<br>
						Twelve years down the line<br>
						It's just one thing, I remember<br>
						Her lips upon mine<br>
						So soft, feelings I don't know the name of<br>
						Under the clothes we take off<br>
						Used to be two hearts in love<br>
						<br>
						Oh, why, oh why am I alone?<br>
						Did I, did I do something wrong?<br>
						Am I the reason, or have you found someone else?<br>
						So tell me, girl<br>
						<br>
						How can I live without love?<br>
						How can I be what you want?<br>
						'Cause when the morning comes around<br>
						You're still gone and I'll say<br>
						How can I see through the dark?<br>
						All I can do is wonder where you are<br>
						Are you happy in someone else's arms?<br>
						Well, that's the way to break my heart<br>
						<br>
						That's the way to break my heart<br>
						That's the way to break my heart<br>
						That's the way to break my heart<br>
						That's the way to break my<br>
						<br>
						That's the<br>
						That's the<br>
						That's the<br>
						<br>
						Am I alone? Did I, did I?<br>
						That's the<br>
						That's the<br>
						That's the way to break my<br>
						<br>
					</div>
					<footer class="layout-footer">
						sub footer
					</footer>
				</div>
				<div class="layout-main">
					<div class="layout-content layout-content-calc-footer layout-padding layout-scroll">
						<header class="layout-header">
							main header
						</header>
						main content<br>
						<br>
						Sometimes I feel like I don't have a partner<br>
						Sometimes I feel like my only friend<br>
						Is the city I live in, the city of angels<br>
						Lonely as I am, together we cry<br>
						<br>
						I drive on her streets 'cause she's my companion<br>
						I walk through her hills 'cause she knows who I am<br>
						She sees my good deeds and she kisses the windy<br>
						Well, I never worry, now that is a lie<br>
						<br>
						I don't ever wanna feel like I did that day<br>
						But take me to the place I love, take me all the way<br>
						I don't ever wanna feel like I did that day<br>
						But take me to the place I love, take me all the way, yeah, yeah, yeah<br>
						<br>
						It's hard to believe that there's nobody out there<br>
						It's hard to believe that I'm all alone<br>
						Atleast I have her love, the city, she loves me<br>
						Lonely as I am, together we cry<br>
						<br>
						I don't ever wanna feel like I did that day<br>
						But take me to the place I love, take me all the way<br>
						I don't ever wanna feel like I did that day<br>
						But take me to the place I love, take me all the way, yeah yeah yeah<br>
						<br>
						Oh, no, no, no, yeah yeah<br>
						Love me, I say, yeah yeah<br>
						<br>
						One time<br>
						<br>
						Under the bridge downtown<br>
						Is where I drew some blood<br>
						Under the bridge downtown<br>
						I could not get enough<br>
						<br>
						Under the bridge downtown<br>
						Forgot about my love<br>
						Under the bridge downtown<br>
						I gave my life away<br>
						<br>
						Yeah yeah yeah<br>
						Oh, no, no, no, yeah yeah<br>
						[Incomprehensible]<br>
						<br>
						Where I stay<br>
					</div>
					<footer class="layout-footer">
						footer
					</footer>
				</div>
			</div>
		</div>
		<footer class="layout-footer">
			footer
		</footer>
	</div>
</body>
</html>
