.layout {
	width: $layout-width;


	.layout-scroll {
		overflow-x: scroll;
		overflow-scrolling: touch;
	}


	.layout-padding {
		padding: $layout-paading;
	}


	.layout-header {
		height: $layout-header-height;
	}


	.layout-footer {
		min-height: $layout-footer-height;
	}


	> .layout-content {

		min-height: 100vh;

		.layout-column {
			max-width: $layout-content-width;
			width: 100%;
			display: flex;
			margin-left: auto;
			margin-right: auto;
		}

		&.layout-content-calc-header {
			min-height: calc(100vh - #{$layout-header-height});
			&.layout-scroll {
				height: calc(100vh - #{$layout-header-height});
			}
			.layout-main > .layout-content {
				&.layout-content-calc-header {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-main-header-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-main-header-height});
					}
				}
				&.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-main-footer-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-main-footer-height});
					}
				}
				&.layout-content-calc-header.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-main-header-height} - #{$layout-main-footer-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-main-header-height} - #{$layout-main-footer-height});
					}
				}
			}
			.layout-sub > .layout-content {
				&.layout-content-calc-header {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-sub-header-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-sub-header-height});
					}
				}
				&.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-sub-footer-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-sub-footer-height});
					}
				}
				&.layout-content-calc-header.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-sub-header-height} - #{$layout-sub-footer-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-sub-header-height} - #{$layout-sub-footer-height});
					}
				}
			}
		}



		&.layout-content-calc-footer {
			min-height: calc(100vh - #{$layout-footer-height});
			&.layout-scroll {
				height: calc(100vh - #{$layout-footer-height});
			}
			.layout-main > .layout-content {
				&.layout-content-calc-header {
					min-height: calc(100vh - #{$layout-footer-height} - #{$layout-main-header-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-footer-height} - #{$layout-main-header-height});
					}
				}
				&.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-footer-height} - #{$layout-main-footer-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-footer-height} - #{$layout-main-footer-height});
					}
				}
				&.layout-content-calc-header.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-footer-height} - #{$layout-main-header-height} - #{$layout-main-footer-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-footer-height} - #{$layout-main-header-height} - #{$layout-main-footer-height});
					}
				}
			}
			.layout-sub > .layout-content {
				&.layout-content-calc-header {
					min-height: calc(100vh - #{$layout-footer-height} - #{$layout-sub-header-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-footer-height} - #{$layout-sub-header-height});
					}
				}
				&.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-footer-height} - #{$layout-sub-footer-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-footer-height} - #{$layout-sub-footer-height});
					}
				}
				&.layout-content-calc-header.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-footer-height} - #{$layout-sub-header-height} - #{$layout-sub-footer-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-footer-height} - #{$layout-sub-header-height} - #{$layout-sub-footer-height});
					}
				}
			}
		}



		&.layout-content-calc-header.layout-content-calc-footer {
			min-height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height});
			&.layout-scroll {
				height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height});
			}
			.layout-main > .layout-content {
				&.layout-content-calc-header {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-main-header-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-main-header-height});
					}
				}
				&.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-main-footer-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-main-footer-height});
					}
				}
				&.layout-content-calc-header.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-main-header-height} - #{$layout-main-footer-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-main-header-height} - #{$layout-main-footer-height});
					}
				}
			}
			.layout-sub > .layout-content {
				&.layout-content-calc-header {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-sub-header-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-sub-header-height});
					}
				}
				&.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-sub-footer-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-sub-footer-height});
					}
				}
				&.layout-content-calc-header.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-sub-header-height} - #{$layout-sub-footer-height});
					&.layout-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-sub-header-height} - #{$layout-sub-footer-height});
					}
				}
			}
		}


		.layout-main {
			max-width: $layout-content-width;
			width: 100%;
			flex: 1;
			margin-left: auto;
			margin-right: auto;
			.layout-header {
				height: $layout-main-header-height;
			}
			.layout-footer {
				min-height: $layout-main-footer-height;
			}
		}


		.layout-sub {
			width: $layout-sub-width;
			.layout-header {
				height: $layout-sub-header-height;
			}
			.layout-footer {
				min-height: $layout-sub-footer-height;
			}
		}
	}
}
