
$color-superlight-gray : #f7f8f9;// #f9f9f9;
$color-light-gray      : #e9ecf2;// #f2f2f2;
$color-gray            : #d2d8dd;// #ddd;
$color-dark-gray       : #789;// #999;
$color-superdark-gray  : #234;// #444;

$color-primary   : #979;
$color-secondary : #d85;
$color-text      : #444;
$color-anchor    : #78a;
$color-success   : #7a8;
$color-danger    : #f79;
$color-light     : #f2f2f2;
$color-black     : #012;// #222;
$color-white     : #fff;
