
$font-xlarge  : 18px;
$font-large   : 16px;
$font-default : 13px;
$font-small   : 12px;
$font-xsmall  : 11px;

$font-xlarge-app  : 16px;
$font-large-app   : 14px;
$font-default-app : 12px;
$font-small-app   : 11px;
$font-xsmall-app  : 11px;

$line-height: 150%;
