
.font-xlarge {
	font-size: $font-xlarge;
	line-height: $line-height;
	@include sp {
		font-size: $font-xlarge-app;
	}
}

.font-large {
	font-size: $font-large;
	line-height: $line-height;
	@include sp {
		font-size: $font-large-app;
	}
}

.font-medium {
	font-size: $font-default;
	line-height: $line-height;
	@include sp {
		font-size: $font-default-app;
	}
}

.font-small {
	font-size: $font-small;
	line-height: $line-height;
	@include sp {
		font-size: $font-small-app;
	}
}

.font-xsmall {
	font-size: $font-xsmall;
	line-height: $line-height;
	@include sp {
		font-size: $font-xsmall-app;
	}
}

.font-weight-bold {
	font-weight: bold;
}
