a.button, button.button, div.button {

	@extend .border-radius-small;
	@extend .border-0;
	@extend .padding-large;
	@extend .padding-top-medium;
	@extend .padding-bottom-medium;
	@extend .margin-small;
	@extend .margin-top-large;
	@extend .margin-bottom-large;

	display: inline-block;
	text-decoration: none;
	cursor: pointer;


	&.primary {
		background: $button-primary-bg;
		color: $button-primary-color;
		&:hover, &:active {
			background: $button-primary-bg-active;
			color: $button-primary-color-active;
		}
	}
	&.secondary {
		background: $button-secondary-bg;
		color: $button-secondary-color;
		&:hover, &:active {
			background: $button-secondary-bg-active;
			color: $button-secondary-color-active;
		}
	}
	&.default {
		background: $button-default-bg;
		color: $button-default-color;
		&:hover, &:active {
			background: $button-default-bg-active;
			color: $button-default-color-active;
		}
	}


	&.large {
		@extend .font-large;
		i {
			@extend .font-large;
		}
	}
	&.medium {
		@extend .font-medium;
		i {
			@extend .font-medium;
		}
	}
	&.small {
		@extend .font-xsmall;
		i {
			@extend .font-xsmall;
		}
	}


	&.icon-left, &.icon-right {
		position: relative;
		i {
			@extend .padding-medium;
			top: 0;
			position: absolute;
		}
	}
	&.icon-left {
		padding-left: $padding-large + $padding-medium;
		i {
			left: 0;
		}
	}
	&.icon-right {
		padding-right: $padding-large + $padding-medium;
		i {
			right: 0;
		}
	}

}
