$button-primary-bg: $color-gray-0;
$button-primary-bg-active: $color-gray-10;
$button-primary-color: $color-gray-90;
$button-primary-color-active: $color-gray-100;

$button-secondary-bg: $color-gray-60;
$button-secondary-bg-active: $color-gray-70;
$button-secondary-color: $color-gray-10;
$button-secondary-color-active: $color-gray-20;

$button-default-bg: $color-gray-80;
$button-default-bg-active: $color-gray-90;
$button-default-color: $color-gray-10;
$button-default-color-active: $color-gray-20;
