$layout-width: 100%;
$layout-header-height: 50px;
$layout-footer-height: 35px;
$layout-content-width: 100%;
$layout-content-min-height: 300px;
$layout-column-sub-primary-width: 200px;
$layout-column-sub-secondary-width: 50px;
