
body, html {
	height: 100%;
	// for frameworrk
	div#app {
		height: 100%;
	}
}

.layout {
	position: relative;
	height: 100%;
	width: $layout-width;
	overflow-x: scroll;
	overflow-scrolling: touch;
	margin: auto;
}


.layout-header {
	width: 100%;
	min-height: $layout-header-height;
}

.layout-footer {
	width: 100%;
	min-height: $layout-footer-height;
}

.layout-column {
	height: 100%;
	width: $layout-content-width;
	max-width: $layout-width;
	flex: 1;
	display: flex;
	margin: auto;
	.layout-column-main {
		position: relative;
		height: 100%;
		flex: 1;
	}
	.layout-column-sub-primary {
		position: relative;
		height: 100%;
		width: 100%;
		max-width: $layout-column-sub-primary-width;
	}
	.layout-column-sub-secondary {
		position: relative;
		height: 100%;
		width: 100%;
		max-width: $layout-column-sub-secondary-width;
	}
}

.layout-content {
	min-height: $layout-content-min-height;
}




/************

Theme

*************/

// index
.layout.index {

	padding-top: $layout-header-height;

	> .layout-header {
		overflow-x: hidden;
		position: absolute;
		top: 0;
	}

	.layout-content {
		height: 100%;
		overflow-x: scroll;
		overflow-scrolling: touch;
	}

}


// dashboard
.layout.dashboard {

	padding-top: $layout-header-height;
	padding-bottom: $layout-footer-height;

	> .layout-header {
		overflow-x: hidden;
		position: absolute;
		top: 0;
	}
	> .layout-footer {
		overflow-x: hidden;
		position: absolute;
		bottom: 0;
	}

	// .layout-column-main {
	//
	// 	padding-bottom: $layout-footer-height;
	//
	// 	> .layout-footer {
	// 		overflow-x: hidden;
	// 		position: absolute;
	// 		bottom: 0;
	// 	}
	// }
	.layout-column-sub-primary {

		padding-bottom: $layout-footer-height;

		> .layout-footer {
			overflow-x: hidden;
			position: absolute;
			bottom: 0;
		}
	}
	.layout-column-sub-secondary {

		padding-bottom: $layout-footer-height;

		> .layout-footer {
			overflow-x: hidden;
			position: absolute;
			bottom: 0;
		}
	}

	.layout-content {
		height: 100%;
		overflow-x: scroll;
		overflow-scrolling: touch;
	}

}
