.md {
	word-break: break-all;

	h1, h2, h3, h4, h5, h6 {
		color: unset;
		font-weight: 300;
		padding-bottom: 12px;
		margin-top: 30px;
	}
	h1 {
		@extend .font-xlarge;
	}
	h2 {
		@extend .font-large;
	}
	h3 {
		@extend .font-large;
		color: $color-superdark-gray;
	}
	h4 {
		@extend .font-medium;
	}
	h5 {
		@extend .font-medium;
	}
	p {
		@extend .font-small;
		color: $color-dark-gray;
		padding-bottom: 24px;
	}
	ul, ol {
		padding: 0 18px;
		margin-top: 8px;
		margin-bottom: 24px;
		color: $color-superdark-gray;
	}
	ul > li {
		list-style-type: disc;
	}
	ol > li {
		list-style-type: decimal;
	}
	a {
		&:hover, &:active {
			text-decoration: underline;
		}
	}
	p {
		padding: 5px 0 10px;
	}

	&.md-blank {
		h1, h2, h3, h4, h5, h6,
		p, ul, ol, li {
			@extend .font-medium;
			font-size: unset;
			display: inline;
			color: unset;
			font-weight: 300;
			padding: 0;
			margin: 0;
		}
	}
}
