/**
 * Global Variable
 *
 */
/******
Gray: Default
******/
// $color-gray-100: #fff;
// $color-gray-90: #f9f9f9;
// $color-gray-80: #f2f2f2;
// $color-gray-70: #eee;
// $color-gray-60: #ddd;
// $color-gray-50: #ccc;
// $color-gray-40: #aaa;
// $color-gray-30: #999;
// $color-gray-20: #666;
// $color-gray-10: #444;
// $color-gray-0: #222;


/******
Gray: Blue
******/
$color-gray-100: #fff;
$color-gray-90: #f7f8f9;
$color-gray-80: #e9ecf2;
$color-gray-70: #eee;
$color-gray-60: #d2d8dd;
$color-gray-50: #ccc;
$color-gray-40: #aaa;
$color-gray-30: #789;
$color-gray-20: #5a6066;
$color-gray-10: #444;
$color-gray-0: #012;


/******
Font Size
******/
$font-xlarge  : 36px;
$font-large   : 24px;
$font-default : 18px;
$font-small   : 16px;
$font-xsmall  : 13px;

$font-xlarge-app  : 26px;
$font-large-app   : 18px;
$font-default-app : 14px;
$font-small-app   : 12px;
$font-xsmall-app  : 11px;





/**
 * _button.scss
 *
 */
$button-primary-bg: $color-gray-0;
$button-primary-bg-active: $color-gray-10;
$button-primary-color: $color-gray-90;
$button-primary-color-active: $color-gray-100;

$button-secondary-bg: $color-gray-60;
$button-secondary-bg-active: $color-gray-70;
$button-secondary-color: $color-gray-10;
$button-secondary-color-active: $color-gray-20;

$button-default-bg: $color-gray-80;
$button-default-bg-active: $color-gray-90;
$button-default-color: $color-gray-10;
$button-default-color-active: $color-gray-20;

$button-font-large: $font-large;
$button-font-medium: $font-default;
$button-font-small: $font-xsmall;

$button-font-large-app: $font-large-app;
$button-font-medium-app: $font-default-app;
$button-font-small-app: $font-xsmall-app;





/**
 * _color.scss
 *
 */
$color-white           : $color-gray-100;
$color-superlight-gray : $color-gray-90;
$color-light-gray      : $color-gray-80;
$color-gray            : $color-gray-60;
$color-dark-gray       : $color-gray-30;
$color-superdark-gray  : $color-gray-10;
$color-black           : $color-gray-0;


$color-light-red: #f9b;
$color-red: #f79;

$color-light-green: #9ca;
$color-green: #7a8;

$color-light-blue: #9ac;
$color-blue: #78a;

$color-light-purple: #b9b;
$color-purple: #979;

$color-light-orange: #ea7;
$color-orange: #d85;





/**
 * _spacing.scss
 *
 */
/******
Padding
******/
$padding-xsmall: 2px;
$padding-small: 8px;
$padding-medium: 12px;
$padding-large: 24px;
$padding-xlarge: 48px;


/******
Margin
******/
$margin-xsmall: 2px;
$margin-small: 8px;
$margin-medium: 12px;
$margin-large: 24px;
$margin-xlarge: 48px;





/**
 * Components
 *
 */

// _card.scss
$card-box-shadow: 0 0 3px 0 rgba($color-gray-0, .3);
$card-border-radius: 3px;


// _form.scss
$input-bg-color: $color-gray-90;
$input-font-color: $color-gray-10;
$input-border: 0;


// _layout.scss
$layout-width: 100%;
$layout-content-width: 1000px;
$layout-header-height: 50px;
$layout-footer-height: 35px;
$layout-column-main-header-height: 70px;
$layout-column-main-footer-height: 40px;
$layout-column-sub-header-height: 70px;
$layout-column-sub-footer-height: 40px;
$layout-column-sub-width: 250px;
$layout-paading: 27px 26px 30px;


/**
 * _text.scss
 *
 */

// _font-size.scss
$text-font-xlarge  : $font-xlarge;
$text-font-large   : $font-large;
$text-font-default : $font-default;
$text-font-small   : $font-small;
$text-font-xsmall  : $font-xsmall;

$text-font-xlarge-app  : $font-xlarge-app;
$text-font-large-app   : $font-large-app;
$text-font-default-app : $font-default-app;
$text-font-small-app   : $font-small-app;
$text-font-xsmall-app  : $font-xsmall-app;

$line-height: 150%;





/**
 * includes
 *
 */

// _media-query.scss
$desktop: 550px;
$tablet: 360px;
