/**
 * variable
 *
 */
/********************

Gray Theme: Default

********************/

// $color-gray-100: #fff;
// $color-gray-90: #f9f9f9;
// $color-gray-80: #f2f2f2;
// $color-gray-70: #eee;
// $color-gray-60: #ddd;
// $color-gray-50: #ccc;
// $color-gray-40: #aaa;
// $color-gray-30: #999;
// $color-gray-20: #666;
// $color-gray-10: #444;
// $color-gray-0: #222;




/********************

Gray Theme: Blue

********************/

$color-gray-100: #fff;
$color-gray-90: #f7f8f9;
$color-gray-80: #e9ecf2;
$color-gray-70: #eee;
$color-gray-60: #d2d8dd;
$color-gray-50: #abc;
$color-gray-40: #89a;
$color-gray-30: #789;
$color-gray-20: #5a6066;
$color-gray-10: #234;
$color-gray-0: #012;




/********************

Color

********************/

$color-light-red: #f9b;
$color-red: #f79;

$color-light-green: #9ca;
$color-green: #7a8;

$color-light-blue: #9ac;
$color-blue: #78a;

$color-light-purple: #b9b;
$color-purple: #979;

$color-light-orange: #ea7;
$color-orange: #d85;




/********************

Font Size

********************/

$font-xlarge  : 36px;
$font-large   : 24px;
$font-default : 18px;
$font-small   : 16px;
$font-xsmall  : 13px;

$font-xlarge-app  : 26px;
$font-large-app   : 18px;
$font-default-app : 14px;
$font-small-app   : 12px;
$font-xsmall-app  : 11px;




/********************

Line Height

********************/

$line-height: 150%;




/********************

Padding & Margin

********************/


$padding-xsmall: 2px;
$padding-small: 8px;
$padding-medium: 12px;
$padding-large: 24px;
$padding-xlarge: 48px;

$margin-xsmall: 2px;
$margin-small: 8px;
$margin-medium: 12px;
$margin-large: 24px;
$margin-xlarge: 48px;




/********************

Border Radius

********************/

$border-radius-large: 24px;
$border-radius-medium: 12px;
$border-radius-small: 3px;




/********************

Layout Size

********************/

$layout-width: 100%;
$layout-header-height: 50px;
$layout-footer-height: 35px;
$layout-content-width: 100%;
$layout-content-min-height: 300px;
$layout-column-sub-primary-width: 200px;
$layout-column-sub-secondary-width: 50px;




/********************

Screen Size

********************/

$sp: 750px;




/********************

Other Components Setting

********************/

/**
 * _border.scss
 *
 */
$border-light: 1px $color-gray-90 solid;
$border-normal: 1px $color-gray-70 solid;
$border-dark: 1px $color-gray-50 solid;




/**
 * _button.scss
 *
 */
$button-primary-bg: $color-gray-0;
$button-primary-bg-active: $color-gray-10;
$button-primary-color: $color-gray-90;
$button-primary-color-active: $color-gray-100;

$button-secondary-bg: $color-gray-60;
$button-secondary-bg-active: $color-gray-70;
$button-secondary-color: $color-gray-10;
$button-secondary-color-active: $color-gray-20;

$button-default-bg: $color-gray-80;
$button-default-bg-active: $color-gray-90;
$button-default-color: $color-gray-10;
$button-default-color-active: $color-gray-20;




/**
 * _color.scss
 *
 */
$color-white           : $color-gray-100;
$color-superlight-gray : $color-gray-90;
$color-light-gray      : $color-gray-80;
$color-gray            : $color-gray-60;
$color-dark-gray       : $color-gray-30;
$color-superdark-gray  : $color-gray-10;
$color-black           : $color-gray-0;




/**
 * _card.scss
 *
 */
$card-box-shadow: 0 0 5px 0 rgba($color-gray-0, .08);
$card-border-radius: 8px;
$card-border: $border-dark;
$popup-card-header-height: 60px;



/**
 * _form.scss
 *
 */
$input-bg-color: $color-gray-90;
$input-font-color: $color-gray-10;
$input-placeholder-color: $color-gray-50;
$input-border: 1px $color-gray-70 solid;
