/**
 * components
 *
 */

// _button.scss
$button-bg-color: $color-gray-60;
$button-bg-color-active: $color-gray-70;
$button-font-color: $color-gray-10;
$button-font-color-active: $color-gray-20;

$button-primary-bg-color: $color-gray-0;
$button-primary-bg-color-active: $color-gray-10;
$button-primary-font-color: $color-gray-90;
$button-primary-font-color-active: $color-gray-100;

$button-secondary-bg-color: $color-gray-60;
$button-secondary-bg-color-active: $color-gray-70;
$button-secondary-font-color: $color-gray-10;
$button-secondary-font-color-active: $color-gray-20;

$button-default-bg-color: $color-gray-80;
$button-default-bg-color-active: $color-gray-90;
$button-default-font-color: $color-gray-10;
$button-default-font-color-active: $color-gray-20;

$button-large-font-size: 20px;
$button-medium-font-size: 14px;
$button-small-font-size: 12px;


// _card.scss
$card-box-shadow: 0 0 3px 0 rgba($color-gray-0, .3);
$card-border-radius: 3px;


// _form.scss
$input-bg-color: $color-gray-90;
$input-font-color: $color-gray-10;
$input-border: 0;


// _layout.scss
$layout-width: 100%;
$layout-content-width: 1000px;
$layout-header-height: 50px;
$layout-footer-height: 30px;
$layout-main-header-height: 70px;
$layout-main-footer-height: 40px;
$layout-sub-header-height: 70px;
$layout-sub-footer-height: 40px;
$layout-sub-width: 250px;
$layout-paading: 27px 26px 30px;


/**
 * extends
 *
 */

// _font-size.scss
$text-font-xlarge  : 28px;
$text-font-large   : 20px;
$text-font-default : 16px;
$text-font-small   : 15px;
$text-font-xsmall  : 13px;

$text-font-xlarge-app  : 22px;
$text-font-large-app   : 18px;
$text-font-default-app : 14px;
$text-font-small-app   : 12px;
$text-font-xsmall-app  : 11px;

$line-height: 150%;


//// _color.scss
$color-white           : $color-gray-100;
$color-superlight-gray : $color-gray-90;
$color-light-gray      : $color-gray-80;
$color-gray            : $color-gray-60;
$color-dark-gray       : $color-gray-30;
$color-superdark-gray  : $color-gray-20;
$color-black           : $color-gray-0;

$color-light-red: $color-light-red;
$color-red: $color-red;

$color-light-green: $color-light-green;
$color-green: $color-green;

$color-light-purple: $color-light-purple;
$color-purple: $color-purple;



/**
 * includes
 *
 */

// _media-query.scss
$desktop: 550px;
$tablet: 360px;
