$color-gray-100: #fff;
$color-gray-90: #f9f9f9;
$color-gray-80: #f2f2f2;
$color-gray-70: #eee;
$color-gray-60: #ddd;
$color-gray-50: #ccc;
$color-gray-40: #aaa;
$color-gray-30: #999;
$color-gray-20: #666;
$color-gray-10: #444;
$color-gray-0: #222;

$color-light-red: #f9b;
$color-red: #f79;

$color-light-green: #9ca;
$color-green: #7a8;

$color-light-purple: #b9b;
$color-purple: #979;
