a.button, button.button, div.button {

	display: inline-block;
	border: 0;
	cursor: pointer;

	&.primary {
		background: $button-primary-bg-color;
		color: $button-primary-font-color;
		&:hover, &:active {
			background: $button-primary-bg-color-active;
			color: $button-primary-font-color-active;
		}
	}
	&.secondary {
		background: $button-secondary-bg-color;
		color: $button-secondary-font-color;
		&:hover, &:active {
			background: $button-secondary-bg-color-active;
			color: $button-secondary-font-color-active;
		}
	}
	&.default {
		background: $button-default-bg-color;
		color: $button-default-font-color;
		&:hover, &:active {
			background: $button-default-bg-color-active;
			color: $button-default-font-color-active;
		}
	}

	&.large {
		font-size: $button-large-font-size;
		line-height: 140%;
		padding: 10px 15px;
		margin: 12px 0;
	}
	&.medium {
		font-size: $button-medium-font-size;
		line-height: 140%;
		padding: 10px 15px;
		margin: 12px 0;
	}
	&.small {
		font-size: $button-small-font-size;
		line-height: 140%;
		padding: 10px 15px;
		margin: 12px 0;
	}

	> i {
		&.left {
			padding-right: 8px;
		}
		&.right {
			padding-left: 8px;
		}
	}
}
