.form {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	input {
		&[type=text],
		&[type=password],
		&[type=email],
		&[type=url],
		&[type=tel],
		&[type=number] {
			@extend .font-small;
			@extend .padding-medium;
			@extend .margin-bottom-small;
			width: 100%;
			background: $input-bg-color;
			color: $input-font-color;
			border: $input-border;
			&::placeholder {
				color: $input-placeholder-color;
			}
		}
	}
	textarea {
		@extend .font-small;
		@extend .padding-medium;
		@extend .margin-bottom-small;
		width: 100%;
		min-height: 150px;
		background: $input-bg-color;
		color: $input-font-color;
		border: $input-border;
		resize: vertical;
		&::placeholder {
			color: $input-placeholder-color;
		}
	}
	label {
		display: inline-block;
		margin: 0 10px 10px 0;
		cursor: pointer;
		> ul {
			display: flex;
			border: $input-border;
			// padding: 6px 8px;
			padding: 12px 14px;
			> li {
				padding-right: 5px;
				&:last-child {
					padding-right: 0px;
				}
			}
		}
	}
	select {
		margin-bottom: 12px;
	}
	.form-input {
		@extend .font-small;
		@extend .padding-medium;
		@extend .margin-bottom-small;
		width: 100%;
		background: $input-bg-color;
		text-align: left;
		color: $input-font-color;
		border: $input-border;
	}
	.form-error {
		@extend .padding-medium;
		@extend .margin-top-medium;
		@extend .margin-bottom-medium;
		background: $color-red;
		color: $color-white;
	}
	.form-success {
		@extend .padding-medium;
		@extend .margin-top-medium;
		@extend .margin-bottom-medium;
		background: $color-green;
		color: $color-white;
	}
	.form-title {
		@extend .font-xsmall;
		@extend .margin-bottom-xsmall;
		color: $color-dark-gray;
		// color: $color-superdark-gray;
	}
	ul.form-list {
		> li {
			@extend .padding-bottom-large;
			&:last-child {
				@extend .padding-bottom-0;
			}
		}
	}
}
