.layout {

	width: $layout-width;


	.layout-content-scroll {
		overflow-x: scroll;
		overflow-scrolling: touch;
	}


	.layout-header {
		height: $layout-header-height;
	}


	.layout-footer {
		min-height: $layout-footer-height;
	}


	> .layout-content, > .layout-content-scroll {

		min-height: 100vh;

		.layout-column {
			max-width: $layout-content-width;
			width: 100%;
			display: flex;
			margin-left: auto;
			margin-right: auto;
		}

		&.layout-content-calc-header {
			min-height: calc(100vh - #{$layout-header-height});
			&.layout-content-scroll {
				height: calc(100vh - #{$layout-header-height});
			}
			.layout-main {
				> .layout-content, > .layout-content-scroll {
					&.layout-content-calc-header {
						min-height: calc(100vh - #{$layout-header-height} - #{$layout-main-header-height});
						&.layout-content-scroll {
							height: calc(100vh - #{$layout-header-height} - #{$layout-main-header-height});
						}
					}
					&.layout-content-calc-footer {
						min-height: calc(100vh - #{$layout-header-height} - #{$layout-main-footer-height});
						&.layout-content-scroll {
							height: calc(100vh - #{$layout-header-height} - #{$layout-main-footer-height});
						}
					}
					&.layout-content-calc-header.layout-content-calc-footer {
						min-height: calc(100vh - #{$layout-header-height} - #{$layout-main-header-height} - #{$layout-main-footer-height});
						&.layout-content-scroll {
							height: calc(100vh - #{$layout-header-height} - #{$layout-main-header-height} - #{$layout-main-footer-height});
						}
					}
				}
			}
			.layout-sub {
				> .layout-content, > .layout-content-scroll {
					&.layout-content-calc-header {
						min-height: calc(100vh - #{$layout-header-height} - #{$layout-sub-header-height});
						&.layout-content-scroll {
							height: calc(100vh - #{$layout-header-height} - #{$layout-sub-header-height});
						}
					}
					&.layout-content-calc-footer {
						min-height: calc(100vh - #{$layout-header-height} - #{$layout-sub-footer-height});
						&.layout-content-scroll {
							height: calc(100vh - #{$layout-header-height} - #{$layout-sub-footer-height});
						}
					}
					&.layout-content-calc-header.layout-content-calc-footer {
						min-height: calc(100vh - #{$layout-header-height} - #{$layout-sub-header-height} - #{$layout-sub-footer-height});
						&.layout-content-scroll {
							height: calc(100vh - #{$layout-header-height} - #{$layout-sub-header-height} - #{$layout-sub-footer-height});
						}
					}
				}
			}
		}



		&.layout-content-calc-footer {
			min-height: calc(100vh - #{$layout-footer-height});
			&.layout-content-scroll {
				height: calc(100vh - #{$layout-footer-height});
			}
			.layout-main > .layout-content, .layout-main > .layout-content-scroll {
				&.layout-content-calc-header {
					min-height: calc(100vh - #{$layout-footer-height} - #{$layout-main-header-height});
					&.layout-content-scroll {
						height: calc(100vh - #{$layout-footer-height} - #{$layout-main-header-height});
					}
				}
				&.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-footer-height} - #{$layout-main-footer-height});
					&.layout-content-scroll {
						height: calc(100vh - #{$layout-footer-height} - #{$layout-main-footer-height});
					}
				}
				&.layout-content-calc-header.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-footer-height} - #{$layout-main-header-height} - #{$layout-main-footer-height});
					&.layout-content-scroll {
						height: calc(100vh - #{$layout-footer-height} - #{$layout-main-header-height} - #{$layout-main-footer-height});
					}
				}
			}
			.layout-sub {
				> .layout-content, > .layout-content-scroll {
					&.layout-content-calc-header {
						min-height: calc(100vh - #{$layout-footer-height} - #{$layout-sub-header-height});
						&.layout-content-scroll {
							height: calc(100vh - #{$layout-footer-height} - #{$layout-sub-header-height});
						}
					}
					&.layout-content-calc-footer {
						min-height: calc(100vh - #{$layout-footer-height} - #{$layout-sub-footer-height});
						&.layout-content-scroll {
							height: calc(100vh - #{$layout-footer-height} - #{$layout-sub-footer-height});
						}
					}
					&.layout-content-calc-header.layout-content-calc-footer {
						min-height: calc(100vh - #{$layout-footer-height} - #{$layout-sub-header-height} - #{$layout-sub-footer-height});
						&.layout-content-scroll {
							height: calc(100vh - #{$layout-footer-height} - #{$layout-sub-header-height} - #{$layout-sub-footer-height});
						}
					}
				}
			}
		}



		&.layout-content-calc-header.layout-content-calc-footer {
			min-height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height});
			&.layout-content-scroll {
				height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height});
			}
			.layout-main > .layout-content, .layout-main > .layout-content-scroll {
				&.layout-content-calc-header {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-main-header-height});
					&.layout-content-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-main-header-height});
					}
				}
				&.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-main-footer-height});
					&.layout-content-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-main-footer-height});
					}
				}
				&.layout-content-calc-header.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-main-header-height} - #{$layout-main-footer-height});
					&.layout-content-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-main-header-height} - #{$layout-main-footer-height});
					}
				}
			}
			.layout-sub > .layout-content, .layout-sub > .layout-content-scroll {
				&.layout-content-calc-header {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-sub-header-height});
					&.layout-content-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-sub-header-height});
					}
				}
				&.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-sub-footer-height});
					&.layout-content-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-sub-footer-height});
					}
				}
				&.layout-content-calc-header.layout-content-calc-footer {
					min-height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-sub-header-height} - #{$layout-sub-footer-height});
					&.layout-content-scroll {
						height: calc(100vh - #{$layout-header-height} - #{$layout-footer-height} - #{$layout-sub-header-height} - #{$layout-sub-footer-height});
					}
				}
			}
		}


		.layout-main {
			max-width: $layout-content-width;
			// width: 100%;
			width: 0%;
			flex: 1;
			margin-left: auto;
			margin-right: auto;
			.layout-header {
				height: $layout-main-header-height;
			}
			.layout-footer {
				min-height: $layout-main-footer-height;
			}
		}


		.layout-sub {
			min-width: $layout-sub-width;
			width: $layout-sub-width;
			.layout-header {
				height: $layout-sub-header-height;
			}
			.layout-footer {
				min-height: $layout-sub-footer-height;
			}
		}
	}
}
