.padding {
	&-xsmall {
		padding: $padding-xsmall;
	}
	&-small {
		padding: $padding-small;
	}
	&-medium {
		padding: $padding-medium;
	}
	&-large {
		padding: $padding-large;
	}
	&-xlarge {
		padding: $padding-xlarge;
	}
}


.padding-top {
	&-xsmall {
		padding-top: $padding-xsmall;
	}
	&-small {
		padding-top: $padding-small;
	}
	&-medium {
		padding-top: $padding-medium;
	}
	&-large {
		padding-top: $padding-large;
	}
	&-xlarge {
		padding-top: $padding-xlarge;
	}
}


.padding-left {
	&-xsmall {
		padding-left: $padding-xsmall;
	}
	&-small {
		padding-left: $padding-small;
	}
	&-medium {
		padding-left: $padding-medium;
	}
	&-large {
		padding-left: $padding-large;
	}
	&-xlarge {
		padding-left: $padding-xlarge;
	}
}


.padding-bottom {
	&-xsmall {
		padding-bottom: $padding-xsmall;
	}
	&-small {
		padding-bottom: $padding-small;
	}
	&-medium {
		padding-bottom: $padding-medium;
	}
	&-large {
		padding-bottom: $padding-large;
	}
	&-xlarge {
		padding-bottom: $padding-xlarge;
	}
}


.padding-right {
	&-xsmall {
		padding-right: $padding-xsmall;
	}
	&-small {
		padding-right: $padding-small;
	}
	&-medium {
		padding-right: $padding-medium;
	}
	&-large {
		padding-right: $padding-large;
	}
	&-xlarge {
		padding-right: $padding-xlarge;
	}
}
