$color-gray-100: #fff;
$color-gray-90: #f7f8f9;
$color-gray-80: #e9ecf2;
$color-gray-70: #eee;
$color-gray-60: #d2d8dd;
$color-gray-50: #ccc;
$color-gray-40: #aaa;
$color-gray-30: #789;
$color-gray-20: #5a6066;
$color-gray-10: #444;
$color-gray-0: #012;

$color-red-50: #f9b;
$color-red-40: #f79;

$color-green-50: #9ca;
$color-green-40: #7a8;

$color-purple-50: #b9b;
$color-purple-40: #979;
